@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$font-logo : 'Shrikhand', cursive;
$font : 'Roboto', sans-serif;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$dark-grey: #353535;
$primary-color:#9356DC;
$secondary-color:#FF79DA;
$light-green:#99E2D0;
$green:#008766;
$gradient: linear-gradient($secondary-color, $primary-color);


@mixin boxshadow  {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 10%);
}

@mixin boxshadowlight {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 30%);
}

html {
  font-family:$font;
}

/* Main elements */

h2 {
  font-weight:700;
  font-size:1.5rem;
}

.btn {
  border:none;
  color:white;
  font-family:$font;
  font-size:1rem;
  font-weight:500;
  padding:15px 30px;
  border-radius:25px;
  background-image:$gradient;
  opacity:1;
  @include boxshadow();
  transition: 600ms ease-in-out;


  &:hover {
    opacity: 0.8;
    @include boxshadowlight();
  }
}

/* Header */

.header {
  padding:20px 0;
  @include boxshadow();

  &__logo {
    font-family:$font-logo;
    font-size:1.8rem;
    text-align:center;
  }
}

/* Localisation */

.localisation {
  background:$grey;
  padding:25px 0;
  display:flex;
  justify-content: center;

  &__icon {
    padding-right:10px;
  }

  &__city {
    font-weight:500;
  }
}

/* Find restaurant */

.explore {
  background:$light-grey;
  padding:30px 0;
  text-align:center;

  &__title {
    width:250px;
    margin:0 auto;
  }

  &__description {
    width:300px;
    margin:0 auto 40px auto;
    margin-top:15px;
    font-size:1.1rem;
    font-weight:300;
  }
}

/* Tutorial */

.tutorial {
  padding:30px 20px;

  &__title {
    margin-bottom:30px;
  }

  &__step {
    display:flex;
    align-items: center;
    margin-bottom:30px;
    background:$light-grey;
    border-radius:25px;
    margin-left:10px;
    padding:30px 25px;
    position:relative;
    @include boxshadow();

    &--number{
      display: flex;
      align-items: center;
      justify-content: center;
      position:absolute;
      left:0;
      transform: translate(-15px);
      background:$primary-color;
      color:white;
      width:24px;
      height:24px;
      border-radius:24px;
    }

    &--text {
      font-weight:500;
    }
  }

  &__icon {
    font-size:19px;
    padding-right:15px;
  }

  .fa-store {
    color:$primary-color;
  }
}

/* Restaurants */

.restaurant {
  background:$light-grey;
  padding: 30px 20px;

  &__title {
    margin-bottom: 30px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap:2rem;
  }

  &__card {
    background:white;
    border-radius:15px;
    position:relative;

    img {
      width:100%;
      height:180px;
      object-fit: cover;
      border-radius:15px 15px 0 0;
    }

    &--new {
      position:absolute;
      right:30px;
      top:10px;
      background:$light-green;
      color:$green;
      font-weight:500;
      font-size:0.8rem;
      padding:8px;
      border-radius:2px;
      @include boxshadow();
    }
  }

  &__info {
    padding:15px;
    display:flex;
    justify-content: space-between;
  }

  &__name {
   font-weight:700;
   font-size:1.1rem;
   padding-bottom:10px;
  }

  &__subtitle {
    font-weight:200;
    font-size:1.05rem;
  }

  &__favorite {
    position:relative;

    &:hover &-icon {
      opacity:0;
    }

    &:hover &-color {
      opacity:1;
    }
  }

  &__favorite-icon {
    opacity:1;
    font-size:22px;
    transition: opacity 900ms ease-in-out;
  }

  &__favorite-color {
    font-size:22px;
    opacity:0;
    background:$gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position:absolute;
    left:0px;
    transition: opacity 900ms ease-in-out;
  }
}

.footer {
  background:$dark-grey;
  padding: 30px 20px;

  &__logo {
    font-family:$font-logo;
    font-size:1.1rem;
    color:white;
  }

  &__list {
    margin-top:25px;
  }

  &__elmt {
    padding-bottom:10px;
  }

  &__link {
    color:white;

    &--icon {
      width:12px;
      padding-right:10px;
    }    
  }
}


/* Responsive */
@media screen and (min-width: 1024px) {
  .explore__title {
    width:100%;
  }

  .explore__description {
    width:100%;
  }

  .tutorial {
    padding: 30px 90px;

    &__steps {
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap:2rem;
    }
  }
 
  .restaurant {
    padding: 30px 90px;

    &__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap:5rem;
      row-gap:3rem;
    }
  }

  .footer {
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    column-gap:3rem;

    &__list {
      display:flex;
      column-gap:1rem;
      margin-top:0;
    }

    &__elmt {
      padding-bottom:0;
    }
  }
}