@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$font-logo : 'Shrikhand', cursive;
$font : 'Roboto', sans-serif;
$grey: #EAEAEA;
$light-grey: #F6F6F6;
$primary-color:#9356DC;

html {
  font-family:$font;
}

/* Main elements */

h2 {
  font-weight:700;
  font-size:1.5rem;
}

.btn {
  border:none;
  color:white;
  font-family:$font;
  font-size:1rem;
  font-weight:500;
  width:220px;
  height:50px;
  border-radius:25px;
  background:linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
}

/* Header */

.header {
  padding:20px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &__logo {
    font-family:$font-logo;
    font-size:1.8rem;
    text-align:center;
  }
}

/* Localisation */

.localisation {
  background:$grey;
  padding:25px 0;
  display:flex;
  justify-content: center;

  &__icon {
    padding-right:10px;
  }

  &__city {
    font-weight:500;
  }
}

/* Find restaurant */

.explore {
  background:$light-grey;
  padding:30px 0;
  text-align:center;

  &__title {
    width:250px;
    margin:0 auto;
  }

  &__description {
    width:300px;
    margin:0 auto;
    margin-top:15px;
    font-size:1.1rem;
    font-weight:300;
  }

  &__btn {
    margin-top:30px;
  }
}

/* Tutorial */

.tutorial {
  padding:30px 20px;

  &__title {
    margin-bottom:30px;
  }

  &__step {
    display:flex;
    align-items: center;
    margin-bottom:30px;
    background:$light-grey;
    border-radius:25px;
    margin-left:10px;
    padding:30px 25px;
    position:relative;

    &--number{
      display: flex;
      align-items: center;
      justify-content: center;
      position:absolute;
      left:0;
      transform: translate(-15px);
      background:$primary-color;
      color:white;
      width:24px;
      height:24px;
      border-radius:24px;
    }

    &--text {
      font-weight:500;
    }
  }

  &__icon {
    font-size:19px;
    padding-right:15px;
  }
}